version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: postgres
            host: ec2-174-129-29-101.compute-1.amazonaws.com
            database: di4qcnsrb52i2
            user: kcktuehqbrfctr
            password: a4fdb69a4bfff99a8d7cb437d47361d3dbece613ee806ae4f62a3c8689719a87
            ssl: true
            rawAccess: true
            port: '5432'
            migrations: true