version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: postgres
            host: ec2-23-21-160-38.compute-1.amazonaws.com
            database: d40f7p641ofcun
            schema: default$default
            user: vxwlqruqtkknvs
            password: 632471c29a64d02ff23931eac42d037152c6c3b34ea9f4c42023f7f0a420bd04
            ssl: true
            rawAccess: true
            port: '5432'
            migrations: true